body {
    background-color: #93789b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    box-shadow: 0 0 10px rgb(255, 81, 0);
}

.card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
}

.spinner-border {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
